<html>
  <head>
    <style>
      html body { box-sizing: border-box; padding: 2em; margin: 0;
      background-color: #ddebe0; } .email-content { box-shadow: 0px 8px 8px
      rgba(0, 0, 0, 0.2); background-color: white; border-radius: 10px;
      max-width: 500px; width: 500px; margin: auto; border: 1px solid rgba(0, 0,
      0, 0.2) } .email-header { background: #2a7b9b; background:
      linear-gradient( 90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1)
      50%, rgba(237, 221, 83, 1) 100% ); padding: 2em 0px; width: 100%;
      border-bottom: 0.5em solid green; border-top-left-radius: 5px;
      border-top-right-radius: 5px; } .email-header div { text-align: center;
      position: relative; z-index: 1; margin: auto; } .email-header div::after {
      content: ""; position: absolute; width: 100%; height: 100%; bottom: 0;
      left: 100; background-image:
      url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/East_Avenue_Medical_logo.svg/2048px-East_Avenue_Medical_logo.svg.png");
      background-size: contain; background-repeat: no-repeat;
      background-position: center; opacity: 0.05; pointer-events: none; z-index:
      0; } .email-header div span { display: inline-block; vertical-align:
      middle; font-size: 24px; font-weight: bold; color: white; position:
      relative; top: calc(50% - 15%); } .email-header div img { width: 50px;
      vertical-align: middle; margin-right: 10px; } .email-body { padding: 1em
      2em; position: relative; } .email-body::after { content: ""; position:
      absolute; width: 200px; height: 200px; top: calc(50% - 100px); left:
      calc(50% - 100px); background-image:
      url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/East_Avenue_Medical_logo.svg/2048px-East_Avenue_Medical_logo.svg.png");
      background-size: contain; background-repeat: no-repeat;
      background-position: center; opacity: 0.05; pointer-events: none; z-index:
      0; } .email-footer { background-color: #f2f2f2; padding: 1em; text-align:
      center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div class="email-content">
      <div class="email-header">
        <div>
          <span>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/East_Avenue_Medical_logo.svg/800px-East_Avenue_Medical_logo.svg.png"
              alt="east-avenue-logo"
            />
            ABG RESULTS
          </span>
        </div>
      </div>
      <div class="email-body">
        <p>To whom it may concern,</p>
        <p>
          Please be informed that the patient,
          <strong>{{patient_name}}</strong>, is requesting for Arterial Blood
          Gas (ABG) test.
        </p>

        <p>Kindly process this request at your earliest convenience.</p>
        <br />
        <p>Best Regards,</p>
        <p>Pulmonary Section</p>
        <p>East Avenue Medical Center</p>
      </div>
      <div class="email-footer">
        This is an auto generated Email. Please do not reply.
      </div>
    </div>
  </body>
</html>